body {
  font-family: 'Lato',helvetica;
  color: white;
}

nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: white;
  z-index: 1;
  font-family: helvetica;
  display:inline;
}

#title {
  font-size: 25px;
  position:fixed;
  top: 20px;
  left: 20px;
}

nav ul {
  position: fixed;
  top: 23px;
  right:20px
}

nav ul li{
  display: inline;
  float:right;
  font-size: 20px;
  margin-left:10px;
}

#home-button:hover {
  color: #ededed;
  cursor: pointer;
}

#about-button:hover {
  color: #ededed;
  cursor: pointer;
}

#project-button:hover {
  color: #ededed;
  cursor: pointer;
}



#home {
  background: url(../img/polyscape4.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#about {
  background: url(../img/polyscape5.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.home-header {
  font-family: 'Roboto Mono';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 935px;
  width: 100%;
  height: 60px;
  margin: auto;
  text-align: center;
  font-size: 2em;
  line-height: 60px;
  background-color: rgba(35,80,130, 0.8);
  border-radius: 5px;
}
.home-header div{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  height: 60px;
  border-right: .15em solid white;
  width: 0%;
  animation: blinking-cursor .5s step-end infinite;
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.about-title {
  position: absolute;
  top: 20px;
  left:20px;
  font-size: 25px;
  color: white;
}

.about-container {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  padding-top: 110px;
}
.about-me-item{
  background: rgba(255,255,255,.8);
  color:black;
  border-radius: 3px;
  min-height: 300px;
  width: 30%;
  margin: .5%;
  padding: 1%;
  float: left;
  transition: all 500ms;
}
.about-me-item:hover{
  background: rgba(255,255,255,1);
}
.about-me-item-img{
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}
.about-me-item-img img{
  margin: 15px;
  width: 50px;
  height: 50px;
}
.about-me-item-title{
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.about-me-item p{
  text-indent: 20px;
  margin: 0px 15px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 100;
}
.profile-image {
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
  margin: 15px auto;
}
.resume-container {
  margin-left: 15px;
  float: left;
}
.contact-container {
  margin-right: 15px;
  float: right;
}
.about-desc {
  display: inline;
  color: white;
  float: left;
  width: 60%;
  padding: 20px
}

#resume {
  color: black;
}

.contact-icon {
  width:30px;
}

#projects {
  background: url(../img/polyscape6.jpg) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.work-title {
  position: absolute;
  top: 20px;
  left:20px;
  font-size: 25px;
  color: white;
}
.workspace-outer-container {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 550px;
}
.next-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  background: rgba(255, 255, 255, .9);
  border-radius: 50%;
  z-index: 1;
}
.next-arrow:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}
.next-arrow img{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.next-arrow.left {
  left: -20px;
}
.next-arrow.right {
  right: -20px;
  transform: rotate(180deg);
}
.projects-main-container{
  overflow: hidden;
  display: block;
  margin: 0px auto;
  width: 550px;
}

.projects-scroll-container {
  width: 3300px;
  float: left;
  display: inline;
}
.project-container{
  float: left;
  width: 550px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 120px;
  color: black;
  border-radius: 3px;
}
.project-image{
  float: left;
  width: 100%;
}
.project-image img{
  width: 100%;
}
.proj-desc {
  float: left;
  padding: 20px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  color: black;
  font-size:20px;
  line-height: 120%;
}
.ind-project-title {
  float: left;
  height: 45px;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.ind-project-titile:visited {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.ind-project-titile:hover {
  color: #ededed;
  font-size: 25px;
  text-decoration: none;
}
